/* UTILS */


.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 75vh;
  padding-bottom: 5rem;
  background-image: url(../img/img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 75vh;
  padding-bottom: 5rem;
  background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
}

#returnal-logo {
  position: absolute;
  top: 5rem;
  left: 50rem;
  transform: translateX(-10px);
  margin-left: 0px;
  width: 10px;
  z-index: 10;
}
.it-takes-two-logo {
  position: absolute;
  top: 5rem;
  left: 50rem;
  transform: translateX(-10px);
  margin-left: 0px;
  width: 300px;
  z-index: 10;
}

#main-title {
  font-size: 3rem;
}
#description-text {
  font-size: 1rem;
}
#buy-button {
  border-radius: 15rem;
  color: white;
  background-color: rgb(255, 51, 0);
}

/* Playstation 5 Presentation*/
#blue-text {
  color: blue;
  font-size: 0.7rem;
  margin-bottom: 0rem;
}
#ps5-presentation {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

/* Playstion 5 e i suoi accessori*/
.accessory-item {
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Nasconde la linea */
}

/* La linea blu con uno pseudo-elemento */
.accessory-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: blue;
  transform: translateY(100%); /*per nasconderla inizialmente*/
  transition: transform 0.3s ease-out;
}

/* Quando si passa sopra, mostra la linea */
.accessory-item:hover::after {
  transform: translateY(0);
}

/* Playstation Plus*/
.btn-primary {
  border-radius: 15rem;
  border-color: rgb(237, 226, 226);
  color: blue;
  background-color: rgb(237, 226, 226);
  margin-left: 30px;
  margin-bottom: 35px;
  font-weight: bold;
}
.content-left > p {
  color: rgb(71, 66, 66);
  font-size: 16px;
  margin-left: 30px;
  font-weight: bold;
}
.img-fluid-custom {
  max-width: 200px;
  margin-left: 30px;
  margin-top: 40px;
}

/* PSN */
#PSN {
  max-width: 0px;
}
.custom-psn-button {
  
}