.hero {
  padding-top: 17rem;
  padding-bottom: 5rem;
  background-image: url(../img/img/jumbo-bg.png);
}
.hero2 {
    padding-top: 17rem;
  padding-bottom: 5rem;
  background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
}
